.dn_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
}

.dn_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background-color: #191919FF;
  /* padding: 20px; */
  /* border-radius: 5px; */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
  resize: none;
  z-index: 100000000;
  border: none;
  outline: none;
  /* resize: both; */
  overflow: auto;
  max-width: 90vw;
  max-height: 90vh;
  min-width: 20vw;
  min-height: 20vh;
}

/* .dn_modal > *:not(.dn_resize_handle) {
  margin: 20px;
} */

.dn_resize_handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: se-resize;
  z-index: 1;
}

/* .dn_close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  &:hover {
    & svg {
      transform: scale(1.2);
      color: #FFFFFF;
    }
  }

  & svg {
    width: 26px;
    height: 26px;
    stroke-width: 1;
    color: #9b9b9b;
    transition: transform 0.3s ease, color 0.5s ease;
  }
} */
.dn_close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 26px;
    height: 26px;
    stroke-width: 1;
    transition: transform 0.2s ease;
  }

  &:hover {
    & svg {
      transform: scale(1.2);
    }
  }
}



.dn_modal button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(80, 80, 80, 0.5);
  background-color: #191919;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  
  &:not(:has(svg)) {
    padding: 5px 30px 7px 30px;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(80, 80, 80, 0.6);
    background-color: #202020;
  }

  &:active {
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.8);
  }
}

